*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.aab
*.xapk
*.log
build_output.log
desktop_harness/build
/decompiled_src
/tmp
apktool_resources/
apktool_resources_en/
apktool_resources_mdpi/
apktool_resources_zh/
extracted_libs/
extracted_xapk/
